@import url('https://fonts.googleapis.com/css2?family=B612&display=swap');
:root{
  --yellow: #FFA800;
  --blue: #0072d2;
  --white: #ffffff;
  --dark: #131318;
}
.modal {
  position: absolute;
  margin: auto;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0; 
  text-align: center;
  padding: 3rem;
  background: #06060652;
  backdrop-filter: blur(3px);

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.modal span{
  font-size: 12px;
  background: var(--blue);
  padding: 1rem 3rem;
  margin-top: 2rem;
  border-radius: 1rem;
  cursor: pointer;
}
.invisible {
  width: 0;
  height: 0;
  padding: 0;
  margin: 0;
  top: -50px;
}

@media (max-width: 590px){
  iframe{
    width: 80vw;
  }
}

